<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="LoginDAO" type="com.khd.model.LoginInfo"/>
		<typeAlias alias="CustomerCenter" type="com.khd.model.CustomerCenter"/>
		<typeAlias alias="RentcarSearchResult" type="com.khd.model.RentcarSearchResult"/>
		<typeAlias alias="Rcar" type="com.khd.model.Rcar"/>
		<typeAlias alias="Blist" type="com.khd.model.Blist"/>
		<typeAlias alias="SearchRequirements" type="com.khd.model.SearchRequirements"/>
		<typeAlias alias="Member" type="com.khd.model.Member"/>
		<typeAlias alias="Qna" type="com.khd.model.Qna"/>
		<typeAlias alias="Notice" type="com.khd.notice.Notice"/>
		<typeAlias alias="Branch" type="com.khd.branch.Branch"/>
		<typeAlias alias="ReviewContent" type="com.khd.ReviewController.ReviewContent"/>
		<typeAlias alias="BranchName" type="com.khd.ReviewController.BranchName"/>
		<typeAlias alias="BranchNameSelect" type="com.khd.ReviewController.BranchName"/>
		<typeAlias alias="Manager" type="com.khd.admin.ManagerModel.Manager"/>
		<typeAlias alias="Carkind" type="com.khd.CarkindController.Carkind"/>
		<typeAlias alias="Car" type="com.khd.car.Car"/>
	</typeAliases>
	<mappers>
		<mapper resource="query/query.xml"/>
		<mapper resource="query/CustomerCenter.xml"/>
		<mapper resource="query/searchrentcar.xml"/>
		<mapper resource="query/rcar.xml"/>
		<mapper resource="query/blist.xml"/>
		<mapper resource="query/member.xml"/>
		<mapper resource="query/Qna.xml"/>
		<mapper resource="query/notice.xml"/>
		<mapper resource="query/branch.xml"/>
		<mapper resource="query/ReviewContent.xml"/>
		<mapper resource="query/BranchName.xml"/>
		<mapper resource="query/Manager.xml"/>
		<mapper resource="query/ReviewContent.xml"/>
		<mapper resource="query/BranchName.xml"/>
		<mapper resource="query/Carkind.xml"/>
		<mapper resource="query/car.xml"/>
	</mappers>
	
	



</configuration>


