<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="LoginDAO" type="com.khd.model.LoginInfo"/>
		<typeAlias alias="CustomerCenter" type="com.khd.model.CustomerCenter"/>
		<typeAlias alias="Member" type="com.khd.model.Member"/>
		<typeAlias alias="Qna" type="com.khd.model.Qna"/>
	</typeAliases>
	<mappers>
		<mapper resource="query/query.xml"/>
		<mapper resource="query/CustomerCenter.xml"/>
		<mapper resource="query/member.xml"/>
		<mapper resource="query/Qna.xml"/>
	</mappers>
	
	



</configuration>


